.select {
    display: inline-block;
    background: #fff;
    margin-right: 20px;
    padding: 10px;
    border-radius: 20px;
        p {
            font-size: 2vmin;
        }
        select {
            border: 0;
        }
}