.catalog {
    padding: 50px;
    &Content {
        display: grid;
        justify-items: center;
        gap: 70px;
        grid-template-columns: repeat(3, 1fr);    
        @media (max-width: 1240px) {
            grid-template-columns: repeat(2, 1fr);  
        }    
        @media (max-width: 800px) {
            grid-template-columns: 1fr;  
        } 
    }
}